EXPO_PUBLIC_SUPABASE_URL=https://hjskgitapxxhytrxnbed.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imhqc2tnaXRhcHh4aHl0cnhuYmVkIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzU3MzY4MzIsImV4cCI6MjA5MTMxMjgzMn0.5uJyi8c9wDDcbYtDXejTxZd02qNKLxIVzKoNRRG9Muk
EXPO_PUBLIC_OPENAI_PROXY_URL=https://hjskgitapxxhytrxnbed.supabase.co/functions/v1/openai-proxy
EXPO_PUBLIC_OPENAI_API_KEY=your_openai_api_key_here
EXPO_PUBLIC_GEMINI_API_KEY=your-gemini-api-key-here
